# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-'localhost'}

# pgadmin4 configuration
export MT5__MAIN__LOGIN=${MT5__MAIN__LOGIN}
export MT5__MAIN__PASSWORD=${MT5__MAIN__LOGIN}
export MT5__MAIN__SERVER=${MT5__MAIN__SERVER}

# traefik configuration
export MT5__TRAEFIK__USER=$(gen_password 32)
export MT5__TRAEFIK__PASSWORD=$(gen_password 64)
export MT5__TRAEFIK__AUTH=$(gen_htpasswd ${MT5__TRAEFIK__USER} ${MT5__TRAEFIK__PASSWORD})
export MT5__TRAEFIK__URL=mt5.${SERVER__MAIN__DOMAIN:?SERVER__MAIN__DOMAIN}

